
<h3>Add Movie</h3>
<div [hidden]="submitted" style="width:400px; ">
  <mat-dialog-content [formGroup]="form">
  <!--<form (ngSubmit)="onSubmit()">-->
    <div>
      <div>
        <mat-form-field>
          <input matInput id="title" placeholder="Movie title" [(ngModel)]="movie.title" name="title"
                 required #title="ngModel">
          <span class="help-block" *ngIf="title.errors?.['required'] && title.touched">
                        title is required
                    </span>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput id="year" placeholder="Year" #year="ngModel" [(ngModel)]="movie.year"
                 name="year" required>
          <span class="help-block" *ngIf="year.errors?.['required'] && year.touched">
                        Year is required
                    </span>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field>
        <input matInput id="marshalArt" placeholder="Marshal art" #marshalArt="ngModel" [(ngModel)]="movie.marshalArt" name="marshalArt" required>
        <span class="help-block" *ngIf="marshalArt.errors?.['required'] && marshalArt.touched">
                        Marshal art is required
                    </span>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div>
      <button  mat-raised-button type="submit" class="btn btn-success">Submit</button>

    </div>
    <div>
      <td>
        <button mat-raised-button (click)="onClose()" class="btn btn-danger">Cancel</button>
      </td>

    </div>
    </mat-dialog-actions>
  <!--</form>-->
</div>
