<nav class="navbar navbar-expand-sm bg-primary navabar-dark">
  <!--Links -->
  <mat-card>
    <mat-card-title>
      menu
    </mat-card-title>
    <mat-card-content>
      <mat-menu #homemenu="matMenu">
        <!--<button mat-menu-item>
          <a routerLink="add" class="nav-link" routerLinkActive="active">Add User</a>
        </button>-->
        <button mat-menu-item>
          <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
        </button>
      </mat-menu>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="homemenu">
        Home
      </button>
      <mat-menu #usermenu="matMenu">
        <!--<button mat-menu-item>
          <a routerLink="add" class="nav-link" routerLinkActive="active">Add User</a>
        </button>-->
        <button mat-menu-item>
          <a routerLink="users" class="nav-link" routerLinkActive="active">Users List</a>
        </button>
      </mat-menu>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="usermenu">
        Users
      </button>





      <!--

        <button mat-menu-item>
          <a routerLink="add-event" class="nav-link" routerLinkActive="active">Add Event</a>
        </button>
      -->

    </mat-card-content>
  </mat-card>

</nav>
<div class="container">
  <br>
  <a href="/students" (click)=handleLogout()>Logout</a>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
<div>
  <!--<h2 style="text-align: center;">{{title}}</h2>
    <br/>
    <h2>WELL COME</h2>
    <br/>
    <br/>
    <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
  <img [src]="imgUrl" style="width: 280px; height:280" *ngIf="imgUrl">-->
</div>
<div>
  <footer class="footer">
    <div class="container">
    <!--  <span>All Rights Reserved 2019 @Rafiki</span>-->
    </div>

  </footer>
</div>
